.inner
  .toolbar
    .btn-toolbar(role="toolbar", style="margin: 0;")
      .btn-group
        button.btn.btn-default.action-save(type="button")
          i.fa.fa-save
      .btn-group
        button.btn.btn-default.action-text-bold(type="button")
          i.fa.fa-bold
        button.btn.btn-default.action-text-italic(type="button")
          i.fa.fa-italic
        button.btn.btn-default.action-text-strikethrough(type="button")
          i.fa.fa-strikethrough
      .btn-group
        button.btn.btn-default.action-text-title-1(type="button")= "H1"
        button.btn.btn-default.action-text-title-2(type="button")= "H2"
        button.btn.btn-default.action-text-title-3(type="button")= "H3"
        button.btn.btn-default.action-text-title-4(type="button")= "H4"
      .btn-group
        button.btn.btn-default.action-text-list-ul(type="button")
          i.fa.fa-list-ul
        button.btn.btn-default.action-text-list-ol(type="button")
          i.fa.fa-list-ol
        button.btn.btn-default.action-table(type="button")
          i.fa.fa-table
      .btn-group
        button.btn.btn-default.action-text-link(type="button")
          i.fa.fa-chain
        button.btn.btn-default.action-text-image(type="button")
          i.fa.fa-picture-o
        button.btn.btn-default.action-text-code(type="button")
          i.fa.fa-code
      .btn-group.pull-right
        button.btn.btn-default.action-help(type="button")
          i.fa.fa-question-circle
  .content